<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head', {pageTitle}) %>
</head>

<body>
  <%- include ('./pages/formulario') %>
  <%- include ('./partials/chat') %>

  <%- include ('./partials/scripts') %>
</body>

</html>