* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(192, 115, 20);
}

.contenedor {
  margin: 5% 30%;
}

.formHeader {
  margin-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}