<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/form.js"></script>
<!-- <script>
  const socket = io();
  socket.emit('loadProducts')

  socket.on("productCreated", (newProduct) => {
    console.log("Se creó un producto", newProduct);
    attachRow(newProduct)
  });

  socket.on("productsLoaded", (articles) => {  // Se puede utilizar "once" tambien.
    console.log(articles);

    articles.forEach(article => {
    attachRow(article)
    });
  });

  const attachRow = (product) => {
    const tableBody = document.getElementById("tableBody")
    const row = `<tr class="trProd">
                  <td>${product.nombre}</td>
                  <td>$${product.precio}</td>
                  <td><img class="picThumb" src="${product.thumbnail}" alt="Imagen de producto"></td>
                </tr>`

    tableBody.innerHTML += row
  }

  // puedo continuar con lo del chat aqui
  /*  */
  
</script> -->