<div class="row">
  <div class="col-md-12">
    <div class="myChatCtn">

      <div class="box">
        <header>Centro de mensajes</header>
        <div class="mailCtn">
          <i class="fa-solid fa-at"></i>
          <input class="myInput" type="email" name="email" id="email" placeholder="example@gmail.com..." required>
        </div>
        <hr class="hr">
      </div>

      <div id="messageBox" class="messageBox">
        
      </div>

      <div class="sendMessageAndButton">
        <div class="mailCtn">
          <i class="fa-solid fa-message"></i>
          <input class="myInputMessage" type="text" name="message" id="message" placeholder="Escribe un mensaje...">
        </div>
        <button id="buttonSubmitMessage" class="buttonSubmitMessage">Enviar</button>
      </div>


    </div>
  </div>
</div>