<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head', {pageTitle}) %>
</head>

<body>
  <%- include ('../partials/header') %>
    <div class="contenedor">
      <div class="formHeader">
        <h3 class="text-center">Formulario de carga de productos</h3>
      </div>

      <div class="text-center">
        <form>
          <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" name="nombre" class="form-control" id="title" aria-describedby="titleHelp"
              placeholder="Titulo...">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" name="price" step=".01" class="form-control" id="price" aria-describedby="proceHelp"
              placeholder="Precio...">
          </div>
          <div class="mb-3">
            <label for="thumbnail" class="form-label">Foto URL</label>
            <input type="text" name="thumbnail" class="form-control" id="thumbnail" aria-describedby="thumbnailHelp"
            placeholder="Foto...">
          </div>
          <button type="submit" class="btn btn-primary" id="sendForm">Cargar producto</button>
        </form>
      </div>

    </div>

    <script src="/js/form.js"></script>
</body>

</html>